<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <My.MySettings>
            <setting name="CacheRadiusForward" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CacheRadiusBack" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShowCacheLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowProgressBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelKeyMovesImageToCustomFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskForDirectoryPathAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomFolderPath" serializeAs="String">
                <value>.\Moved Images</value>
            </setting>
            <setting name="UpscaleSmallImagestoFitWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlideshowInternalSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PauseBetweenFastforwardMilliseconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableImageResizingOnLoadFastLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberWindowState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SavedWindowSize" serializeAs="String">
                <value>600, 480</value>
            </setting>
            <setting name="SavedWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>